<form class="question" method="post" action="/quiz">
  <h4>{{Question}}</h4>
  <div>
    {{#each Answer}}
    <label for="contactChoice1"><input type="radio" 
      name="contact" value="{{name}}">{{Answer}}</label>
    {{/each }}
        
    <button type="submit">Submit</button>
  </div>
</form>