<h3>
  Welcome to our scientifically accurate celebrity quiz! 
</h3>
<p>
  Before starting, please take the time to centre yourself and 
  find a nice quiet place to be in touch with your thoughts 
  and feelings.
</p>
<p>
  Then let us begin! For each question, select an answer that 
  speaks to you and discover which celebrity you are!
</p>
<a class="button button-primary" href="/quiz">
  LET'S BEGIN
</a>  