<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Celebrity Quiz</title>
    <link rel="stylesheet" href="../style/skeleton.css">
    <link rel="stylesheet" href="../style/normalize.css">
    <link rel="stylesheet" href="../style/main.css">
  </head>
  <body>
   <div class="container" id="pagecontent">
     <div class="row" id="header">
      <div class="two columns" id="header-img">
        <img src="../images/monkey.png" style: width="100%">
      </div>
      <div class="ten columns" id="header-text">
        <h1>THE MOST EXCELLENT CELEBRITY QUIZ</h1>
      </div>
     </div>
     <div class="row" id="body">
        <h3>
            Welcome to our scientifically accurate celebrity quiz! 
          </h3>
          <p>
            Before starting, please take the time to centre yourself and 
            find a nice quiet place to be in touch with your thoughts 
            and feelings.
          </p>
          <p>
            Then let us begin! For each question, select an answer that 
            speaks to you and discover which celebrity you are!
          </p>
          <a class="button button-primary" href="./questions.hbs">
            LET'S BEGIN
          </a> 
     </div>
     <div class="row" id="footer">
      <p>
        Accidentally created by Brad, Ross, Cate, Anton & Rebecca
      </p>
     </div>

   </div>
  </body>
</html>