<h1 class="drum-roll">
  AND YOUR CELEBRITY IS...
</h1>
<h2 id="result-title">{{name}}</h2>
<div class="four columns">
  <img src="{{Image}}" style: width="100%">
</div>
<div class="seven columns" id="description">
  {{Description}}
</div>