<form class="question" method="post" action="/quiz">
  <h4><strong>{{question}}</strong></h4>
  <div>
    {{#each answers}}
    <label for="contactChoice1"><input type="radio" 
      name="name" value="{{name}}">{{answer}}</label>
    {{/each }}
        
    <button id="submitBtn" class="greyed" disabled onclick="active()" type="submit">SUBMIT</button>
  </div>
</form>
<script>
    
</script>
